// --------------------------------------------------
// base
// --------------------------------------------------

html {
  box-sizing: border-box;
  font-size: $font-size-md;
  line-height: $line-height-base;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// --------------------------------------------------
// body
// --------------------------------------------------

body {
  color: $primary-font-color;
  font-family: $primary-font-family;
  line-height: $line-height-base;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
