// --------------------------------------------------
// color palette
// --------------------------------------------------

$color-primary: color("primary");
$color-secondary: color("secondary");
$color-green: color("green");
$color-red: color("red");
$color-yellow: color("yellow");
$color-black: color("black");
$color-white: color("white");
$color-gray: color("gray");
$color-gray-light: color("gray-light");
$color-gray-lighter: color("gray-lighter");
$color-gray-lightest: color("gray-lightest");
$color-gray-dark: color("gray-dark");
$color-gray-darker: color("gray-darker");
$color-gray-darkest: color("gray-darkest");

// --------------------------------------------------
// breakpoints
// --------------------------------------------------

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// --------------------------------------------------
// break point media queries
// --------------------------------------------------

// min width
$bp-min-xs: "(min-width: #{$breakpoint-xs})";
$bp-min-sm: "(min-width: #{$breakpoint-sm})";
$bp-min-md: "(min-width: #{$breakpoint-md})";
$bp-min-lg: "(min-width: #{$breakpoint-lg})";
$bp-min-xl: "(min-width: #{$breakpoint-xl})";

// max width
$bp-min-xs: "(max-width: #{$breakpoint-xs - 1px})";
$bp-min-sm: "(max-width: #{$breakpoint-sm - 1px})";
$bp-min-md: "(max-width: #{$breakpoint-md - 1px})";
$bp-min-lg: "(max-width: #{$breakpoint-lg - 1px})";
$bp-min-xl: "(max-width: #{$breakpoint-xl - 1px})";

// --------------------------------------------------
// globals
// --------------------------------------------------

$global-border-width: 1px;
$global-border-style: solid;
$global-border-color: color("gray-lighter");
$global-border: $global-border-width $global-border-style $global-border-color;
$global-border-radius: 0.25rem;

$global-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

$global-transition-fast: all 0.25s ease;
$global-transition-slow: all 0.3s ease;

// --------------------------------------------------
// fonts
// --------------------------------------------------

$primary-font-family: "Dosis", sans-serif;

// --------------------------------------------------
// font colors
// --------------------------------------------------

$primary-font-color: $color-black;

// --------------------------------------------------
// font size
// --------------------------------------------------

$font-size-xs: rem(14);
$font-size-sm: rem(16);
$font-size-md: rem(18);
$font-size-lg: rem(20);
$font-size-xl: rem(22);

// --------------------------------------------------
// font weight
// --------------------------------------------------

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

// --------------------------------------------------
// links
// --------------------------------------------------

$link-color: $color-primary;
$link-transition: $global-transition-fast;
$link-color-hover: color("primary", "hover");

// --------------------------------------------------
// line height
// --------------------------------------------------

$line-height-base: 1.5;
$line-height-headings: $line-height-base * 0.75;

// --------------------------------------------------
// base margin
// --------------------------------------------------

$margin-base: $line-height-base * 1rem;
