// --------------------------------------------------
// base
// --------------------------------------------------

$theme_colors: (
  "primary": (
    "name": "Primary",
    "base": #3d5afe,
    "hover": darken(#3d5afe, 10%)
  ),
  "secondary": (
    "name": "Secondary",
    "base": #5393ff,
    "hover": darken(#5393ff, 10%)
  ),
  "green": (
    "name": "Green",
    "base": #68cc1d,
    "hover": darken(#68cc1d, 10%)
  ),
  "red": (
    "name": "Red",
    "base": #ff3d5a,
    "hover": darken(#ff3d5a, 10%)
  ),
  "yellow": (
    "name": "yellow",
    "base": #ffe23d,
    "hover": darken(#ffe23d, 10%)
  ),
  "black": (
    "name": "Black",
    "base": #2d2d2d,
    "hover": lighten(#2d2d2d, 10%)
  ),
  "gray": (
    "name": "Gray",
    "base": #878787,
    "hover": darken(#878787, 10%)
  ),
  "gray-light": (
    "name": "Gray Light",
    "base": #a5a5a5,
    "hover": darken(#a5a5a5, 10%)
  ),
  "gray-lighter": (
    "name": "Gray Lighter",
    "base": #e1e1e1,
    "hover": darken(#e1e1e1, 10%)
  ),
  "gray-lightest": (
    "name": "Gray Lightest",
    "base": #ededed,
    "hover": darken(#ededed, 10%)
  ),
  "gray-dark": (
    "name": "Gray Dark",
    "base": #737373,
    "hover": darken(#737373, 10%)
  ),
  "gray-darker": (
    "name": "Gray Darker",
    "base": #606060,
    "hover": darken(#606060, 10%)
  ),
  "gray-darkest": (
    "name": "Gray Darkest",
    "base": #4d4d4d,
    "hover": darken(#4d4d4d, 10%)
  )
);

@function color($name: null, $key: null) {
  $color: null;
  $value: "";

  @if ($name) {
    $color: map-get($theme_colors, $name);
    $value: map-get($color, "base");

    @if ($key) {
      $value: map-get($color, $key);
    }
  }

  @return $value;
}
